@import "https://js.arcgis.com/calcite-components/3.2.1/calcite.css";
@import "https://js.arcgis.com/4.33/@arcgis/core/assets/esri/themes/light/main.css";
@import "https://js.arcgis.com/4.33/map-components/main.css";

html,
body {
  background-color: var(--calcite-ui-foreground-2);
  margin: 0;
  padding: 0;
}

arcgis-map {
  display: block;
  height: 100%;
}

.options-list > li {
  cursor: pointer;
}

#place-combobox {
  z-index: 9999;
}

#hover-tooltip {
  position: absolute;
  pointer-events: none;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  display: none;
  z-index: 1000;
}
